logs
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.grunt
bower_components
node_modules
jspm_packages/
typings/
*.tsbuildinfo
.npm
.eslintcache
.yarn-integrity
.cache
#dist
.npmignore
.gitignore
pnpm-lock.yaml
git.md
notes.md
codes.md
circuits.md
